h1 {
	color: blue;
	font-family: Arial;
	font-size: 3em;
	padding: 15px 15px 15px 15px;
	margin: 10px 10px 10px 10px;
	width: 40%;
	border: 2px solid blue;
}

h2 {
	color: #008080;
	font-family: calibri;
}

h3 {
	color: black;
	font-size: 1em;
	font-family: Arial;
}

#footer {
	color: red;
	font-family: times new roman;
	font-style: italic;
	font-size: 20px;
}

nav {
	background-color: lime;
	height: 100px;
}

#travelh1 {
	<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet>
}

.travelintro {
	background-color: #ccc;
	position: relative;
}

.firstletter {
	color: black;
	font-weight: bold;
	font-size: 4em;
	position: relative;
	top: 10px
}

.ltd {
	color: black;
	position:relative;
	top:-5px;
	font-size:0.75em;
}

#fixed {
	background-color: #ccc;
	width: 100px;
	height: 300px;
	position: fixed;
	top: 50px;
	right: 10px;
}
